body {
  display: flex;
  justify-content: center;
  background-color: beige;
  font-size: 200%;
}

/* * {
  border: 2px solid red;
} */

.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  border: 3px solid darkblue;
  margin-top: 100px;
  background-color: darkgray;
  padding: 20px 10px;
  border-radius: 30px;
  box-shadow: black 1px 1px;
}

.logo {
  background-clip: border-box;
  background-image: linear-gradient(to left, blue, green, yellow, orange, red); -webkit-background-clip: text;
  color: transparent;
  width: fit-content
}
.screen {
  display: flex;
  flex-direction: column;
  background-color: rgb(219, 205, 205);
  margin: 10px 24px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  box-shadow: darkblue 1px 1px;
  padding: 0 20px;
}

#small-display {
  display: flex;
  flex-basis: 30%;
  font-size: 20px;
  align-self: flex-end;
}
#main-display {
  flex-basis: 60%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;

}

.button-operator {
  width: 30%;
  margin: 5px;
}

.button,
.button-operator
 {
  width: 30%;
  margin: 5px;
  padding: 30px 1px;
  border: 2px solid black;
  box-shadow: darkblue 1px 1px;
  border-radius: 10px;
}

.left-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.right-buttons{
  display: flex;
  flex-wrap: wrap;

}

.right-buttons > .button-operator {
  width: 100%;
  border-radius: 5px;
}

